<!DOCTYPE html>
<html lang="{{ theme.default_lang }}">
<head>
  {% block head %}
  <meta charset="utf-8" />
  <title>{{ site.title|e('html') }}{% if page.title %} / {{ page.title }}{% endif %}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partials/metadata.html.twig' %}

  <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
  <link rel="canonical" href="{{ page.url(true, true) }}" />

  {% block styles %}
    {% do assets.addCss('theme://css/main.css') %}
    {% do assets.addCss('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&family=Barlow+Semi+Condensed:ital,wght@0,400;0,600;1,400;1,600&display=swap') %}
  {% endblock styles %}

  {% block scripts %}
    {# {% do assets.addJs('theme://js/singlepagenav.min.js') %} #}

    {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
      {% do assets.add('theme://js/html5shiv.min.js') %}
      {% do assets.add('theme://js/respond.min.js') %}
    {% endif %}
  {% endblock scripts %}

  {{ assets.css() }}
  {{ assets.js() }}

  {% endblock head %}
</head>
<body>
  <!-- navigation -->
  <header>
    <h1>Laura Henriksen</h1>
    <nav>
      {# to come #}
    </nav>
  </header>

  {% block content %}{% endblock %}
</body>
</html>
